@use '../../Sass-Library/abstracts/' as *;

@mixin regOptions {
     .reg-options {
          height: 3.2rem;
          margin-top: 2.3rem;
          color: #00302d;
          font-size: 1rem;
          font-weight: 500;
          text-align: center;
     }
     
     .reg-options span {
          font-weight: 700;
          cursor: pointer;
     
     }
     
     .reg-options span:hover {
          color: #dd5533;
     }   
}


.login-page * {
     // border: 1px solid red;
}
$bh: #04413c;
.login-page {
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: 100vh;
     position: relative;
     overflow: hidden;
}


.login-image-container{
     grid-row: span 1;
     position: relative;
     grid-column: 1/7;

     & .login-image-cover {
          position: absolute;
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
          z-index: 4;

     }

     & .login-image {
          width: 100%;

          height: 100%;
          object-fit: cover;
          position: relative;
          object-position: center 30%;
     }

     & .logo {
          border-radius: 50%;
          width: 40%;
          position: absolute;
          object-fit: cover;
          left: 50%;
          z-index: 3;
          bottom: 50%;
          transform: translate(-50%, 50%);
          box-shadow: 0px 5px 10px rgba(19, 17, 17, 0.445);
     }
}


.login-image-loader {
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: 2;
     background-color: rgb(182, 100, 114);
     background-color: #125a54;
     display: grid;
     place-items: center;
     top: 0;
     left: 0;
     transition: 2s opacity linear;
}

.login-form-container {
     $bw : wheat;
     // background: conic-gradient(transparent 25%, $bw 0% 50%, transparent 0% 75%, $bw 0%) 0/ 4em 4em, repeating-linear-gradient(45deg, rgb(82, 72, 72) 0 2.83px, $bw 0 5.66px);
    position: relative;
    overflow: hidden;
    grid-column: 7/13;

    $vh: -9%;
    & > .logo {
     position: absolute;
     right: -9%;
     // transform: rotate(-70deg);
     object-fit: cover;
     border-radius: 50%;
     height: 13rem;
     width: 13rem;
     z-index: 2;
     box-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.199), 0 2px 4px -2px rgba(0, 0, 0, 0.199);
}

     & > .top {
          top: $vh;
     }

     & > .bottom {
          bottom: $vh;
     }
}

.login-form {
     $width : 100%;
     $height : 2.7rem;
     width: 65%;  
     display: block; 
     // min-width: 26.5rem;
     position: absolute;
     // box-shadow: 9px 9px 10px rgba(19, 17, 17, 0.623);
     bottom: 10%;
     left: 50%;
     background-color: white;
     border-radius: .7rem;
     padding: 2rem;
     transform: translateX(-50%);

     & h1 {
          font-size: 1.8rem;
          color: #125a54;
          text-align: center;
          font-family: "Poppins-B";

          &::first-letter {
               font-size: 2rem;
          }
     }

     & input {
          display: block;
          height: $height;
          text-indent: 1.2rem;
          margin-top: 2.3rem;
          width: 100%;
          border-radius: .3rem;
          border: 2px solid rgb(194, 187, 187);
     }

     & .login-btn {
          width: 100%;
          height: $height;
          cursor: pointer;
          margin-top: 2.3rem;
          border-radius: .3rem;
          font-weight: 500;
          background-color: #04413c;
          color: aliceblue;
          letter-spacing: 1.4px;
          border: none;
          box-shadow: 0px 5px 10px rgba(19, 17, 17, 0.445);
          background-image: url(../grain.svg);
          transition:  background .3s ease;

          &:hover {
               background-color: rgba(#103d3acc, 0.95);
          }
     }

     & .login-password {
          position: relative;
          display: block;

     }
     
     & .logo {
          display: none;
     }

    

}

.show-btn {
     position: absolute;
     bottom: 0%;
     right: 0%;
     width: 20%;
     font-size: 1.5rem;
     height: 2.7rem;
     cursor: pointer;
     color: rgb(179, 179, 179);
     background-color: transparent;
     border: none;
     transition: .5s all ease;

     & .show-btn:hover {
          color: rgb(148, 148, 148);
     }
}


.options {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 3.2rem;
     margin-top: 2.3rem;
     color: #00302d;
     font-size: .8rem;
     font-weight: 500;

     & p:hover {
          cursor: pointer;
          color: #dd5533;
     }
}


@include screen(1024px) {
     .login-page {
          // grid-template-columns: .43fr .57fr;
     }
     .login-form-container {
          grid-column: 6/-1;

     }
     .login-image-container {
          grid-column: 1/6;
     }
}


@include screen(800px) {
     .login-image-container {
          grid-column: 1/-1;
          z-index: 2;
     }
     .login-page {
     }

     .login-form-container {
          // min-width: 30rem;
          // background-color: #00302d;
          position: absolute;
          z-index: 2;
          width: 100%;
          grid-column: 1/-1;
          height: 100%;

     }
}

@include screen(430px) {
     .login-form {
          width: 95%;
          // position: relative;
          // bottom: 50%;
          // transform: translate(-50%, 0%);
          height: 80%;
          padding-top: 4rem;

          & .logo {
               border: 5px solid yellow;
               height: 3rem;
               z-index: 55;
               display: block;
          }
     
     }




}
@include regOptions;



