.nav-bar {
     background-color: rgb(255, 253, 251);
}

.nav-top {
     height: 30%;
     display: grid;
     place-items: center;
}

.nav-logo-container {
     display: flex;
     align-items: center;
     height: 7rem;
}

.nav-logo-container img {
     height: 100%;
     cursor: pointer;
}

.nav-logo-container p {
     font-size: 3.5rem;
     font-weight: 500;
     margin-left: 1rem;
     color: #08756a;
}

.nav-option{
     display: flex;
     border-radius: .4rem;
     /* justify-content: center; */
     align-items: center;
     margin-left: 2.5rem;
     padding-left: 1rem;
     height: 3.7rem;
     margin-bottom: 3rem;
     position: relative;
     width: 85%;
}

.inactive {
     color: rgb(172, 172, 172);
}

.active {
     background-color: rgb(226, 226, 222);
     color: rgb(136, 128, 128); 
}
.nav-option i {
     font-size: 2.5rem;
     cursor: pointer;
     margin-right: 1rem;
}

.nav-option h3 {
     font-size: 1.4rem;
     cursor: pointer;
}

.nav-option span {
     position: absolute;
     width: 3rem;
     height: 3rem;
     right: 5%;
     top: 50%;
     transform: translateY(-50%);
     display: grid;
     place-items: center;
     border-radius: .5rem;
}

.nav-option .order-no {
     background-color: beige;
     color: rgb(104, 104, 104);
}

.nav-option .cart-no {
     background-color: beige;
     color: rgb(104, 104, 104);
}