.orders {
     width: 53vw;
     height: 100vh;
     background-color: white;
     position: fixed;
     right: 0;
     padding-top: 3rem;
     padding-left: 3rem;
     z-index: 2;
     overflow-y: scroll;
     transform: translateX(100%);
     transition: .3s transform ease-in;
     
}

.show-order{
     transform: translateX(0%);
}


.orders h1 {
     color: #298882;
     font-weight: bold;
     margin-bottom: 4rem;
}
.cart-table {
     display: grid;
     width: 100%;
     grid-template-columns: 40% repeat(3,20%);
     color: rgb(167, 167, 167);
     font-size: 1.3rem;
     font-weight: 550;
     margin-top: .8rem;
     margin-bottom: 4rem;
}

.orders .item {
     display: grid;
     grid-template-columns: 40% repeat(3,20%);
     margin: 2rem 0 2rem;
}
.orders .item img {
     width: 8rem;
     height: 8rem;
     border-radius: 50%;
     object-fit: cover;
     margin-right: 1.4rem;
}

