.reg-form {
     position: absolute;
     left: 50%;
     bottom: 10%;
     transform: translateX(-50%);
     width: 60%;
}

.reg-form h1 {
     font-size: 2.1rem;
     color: #00302d;
     font-weight: 700;
     text-align: center;
}

.reg-form input {
     display: block;
     height: 3rem;
     text-indent: 1.2rem;
     margin-top: 2.3rem;
     width: 100%;
     border-radius: .3rem;
     border: 2px solid rgb(194, 187, 187);
}

.reg-form .login-btn {
     width: 100%;
     height: 3rem;
     cursor: pointer;
     margin-top: 2.3rem;
     border-radius: .3rem;
     font-weight: 500;
     background-color: #00302d;
     color: aliceblue;
     letter-spacing: 1.4px;
     border: none;
}

.reg-form .login-btn:hover{
     background-color: #103d3a;
}

.reg-form .login-password {
     position: relative;
     display: block;
}
