.nav-bar * {
     // border: 1px solid red;
}

.nav-bar {
     background-color: rgb(255, 253, 251);
}

.nav-top {
     height: 30%;
     display: grid;
     place-items: center;
}

.nav-logo-container {
     display: flex;
     align-items: center;
     height: 5rem;
}

.nav-logo-container img {
     height: 100%;
     cursor: pointer;
}

.nav-logo-container p {
     font-size: 2rem;
     font-weight: 500;
     margin-left: .4rem;
     color: rgb(172, 172, 172);
}

.nav-option{
     display: flex;
     border-radius: .4rem;
     align-items: center;
     margin-left: 2.5rem;
     padding-left: 1rem;
     margin-bottom: 1.8rem;
     padding: .7rem 0 .7rem 1rem  ;
     position: relative;
     width: 85%;
     transition: 1s all ease;
}

.inactive {
     color: rgb(172, 172, 172);
}

.active {
     background-color: rgb(226, 226, 222);
     color: rgb(136, 128, 128); 
}
.nav-option i {
     font-size: 2rem;
     cursor: pointer;
     margin-right: 1rem;
}

.nav-option h3 {
     // font-size: 1.1rem;
     cursor: pointer;
}

.nav-option span {
     position: absolute;
     width: 2.2rem;
     height: 2.2rem;
     right: 5%;
     top: 50%;
     transform: translateY(-50%);
     display: grid;
     place-items: center;
     border-radius: .5rem;
}

.nav-option .order-no {
     background-color: rgb(248, 242, 242);
     color: rgb(104, 104, 104);
}

.nav-option .cart-no {
     background-color: rgb(248, 242, 242);
     color: rgb(104, 104, 104);
}