@use "../../Sass-Library/abstracts/" as *;



.nav-bar {
     background-color: rgba(37, 37, 37, 0.911);
     backdrop-filter: blur(60px);
     background-image: url(../grain.jpg);  
     background-size: contain;
     position: relative;
     // @include reveal(red);
}

.nav-top {
     height: 20%;
     display: grid;
     
     padding: 0rem 0 0 1.5rem;
     // margin-bottom: 2rem;
}

.nav-logo-container {
     display: flex;
     align-items: center;
     padding-top: 2rem;
     height: 3rem;

     & img {
          height: 100%;
          cursor: pointer;
     }

     & p {
          font-size: 1.8rem;
          margin-left: .4rem;
          // font-weight: bold;
          font-family: "Poppins-B";
          color: white;
     }
}


.nav-option{
     display: flex;
     font-size: 1rem;
     font-weight: 100;
     // border-radius: .4rem;
     align-items: center;
     position: relative;
     width: 100%;
     height: 3rem;
     margin: 0 0 1.2rem 0 ;
     padding: 0 0 0 1.3rem;
     transition: background .3s  ease;
     cursor: pointer;

     & i {
          font-size: 1.4rem;
          font-weight: 100;
          color: rgb(209, 209, 209);
          cursor: pointer;
          margin-right: 1rem;
     }

     & h3 {
          font-size: 1.1rem;
          font-weight: 100;
          cursor: pointer;
     }

     & span {
          position: absolute;
          width: 2.2rem;
          height: 2.2rem;
          right: 5%;
          top: 50%;
          transform: translateY(-50%);
          display: grid;
          place-items: center;
          border-radius: .5rem;
     }

     &:hover{
          background-color: rgba(245, 245, 245, 0.103);
     }
     &:active {
          background-color: transparent;
     }
}

.log-out {
     position: absolute;
     bottom: 0;
}

.inactive {
     color: white;
}

.active {
     // background-color: rgb(226, 226, 222);
     color: rgb(136, 128, 128);
     color: white;
}


.nav-option .order-no {
     // background-color: rgb(248, 242, 242);
     color: rgb(104, 104, 104);
     color: white;
}

.nav-option .cart-no {
     // background-color: rgb(248, 242, 242);
     color: rgb(104, 104, 104);
     color: white;
}