$main-color: #00302d;

.landing-page{
     background-color: #04413c;
     background-image: url(../grain.svg);
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 11vh repeat(5, auto);
     clip-path: inset(0 0% 0 0);
     transition: clip-path .5s ease-in;
     overflow: hidden;

     & h1,h2,h3,h4,h5{

          line-height: 1.2;
     
          
     }
}




/*======== Hero Section ========*/



/*=========== Main Section ===========*/


/*=========== Form Section ===========*/



/*=========== Footer Section ===========*/





@media screen and (max-width : 700px) {
     .landing-page {
          background-color: #1b5e59;
     }
     

     .loader{
          width: 18.7rem;
          height: 18.7rem;
     }

}

